<h1>
	Lispless's Resplendant Confectionarium of Edible Oddities for the Worldly Esoteric Cognoscente in All Things Verisimilitude & Gestault
</h1>
<div>
	<ul>
		<% @recipes.each do |recipe| %>
		<li>
			<a href="/recipe/<%= recipe["recipe_id"] %>"> <%= recipe["name"] %> </a>
		</li>
		<% end %>
	</ul>
</div>