<h1>
	<% @recipe.each do |recipe| %>
	<%= recipe["name"] %>
	<% end %>
</h1>

<div>
	<ul>
		<% @recipe.each do |recipe| %>
		<li>
			A summary of what you could make:
			<br />
			<%= recipe["description"] %>
		</li>
		<br />
		<li>
			Here's the how:
			<br />
			<%= recipe["instructions"] %>
		</li>
		<br />
		<li>
			Before you start, here's what you'll need:
			<br />
			<%= recipe["ingredients"] %>
		</li>
		<% end %>
	</ul>
</div>