h1 {
	padding-left: 5em;
	padding-right: 5em;
}

a {
	color: #000000;
	text-decoration: none;
}

li {
	color: #000000;
	padding-left: 10em;
	list-style-type: none;
}

.home {
	color: red;
	text-align: center;
}